<!DOCTYPE html>
<html>
	<style>
		body { 
			background-color: grey;
			color:white;
		}
	</style>
	<head>
		<meta charset="ISO-8859-1"> 
		<title>miraclmp.com the IT student</title>
	</head>
	<body >
		<marquee>Welcome to Miraclmp!</marquee>
		<marquee direction= right>Maven</marquee>
		<marquee scrolldelay= 70>Welcome to Miraclmp!</marquee>
		<marquee direction= right>Java</marquee>
		<marquee scrolldelay= 75->Welcome to Miraclmp!</marquee>
		<marquee direction= right>Spring Boot</marquee>
	</body>
</html>